*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    margin: 0;
}

.list {
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;
}


.pokemon__img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.pokemon__img {
    object-fit: cover;
}

.height_weight {
    display: flex;
    align-items: center;
}

.list__item {
    border-radius: 5px;
    padding: 20px 110px;
    justify-content: center;
    width: 410px;
    height: 700px;
    background-color: #353b48;
}

.list__item:hover {
    background-color: #0a3d62;
    transition: ease-in-out .4;
}

.list__item:active {
    background-color: #778ca3;
    transition: ease-in-out .4;
}


.bek {
    list-style: none;
}

p {
    margin-bottom: 5px;
}

.new_paragraph {
    display: flex;
    align-items: center;
    justify-content: center;
}